body{
    width: 900px;
    margin: 0 auto;
}

#tb{
    height: 78px;
}


.zm{
    float: left;
    width: 340px;
    margin-left:20px ;
    margin-top: 10px;
}

.zm>a{
    font-size:60px;
    font-family: "华文行楷";
}

.lm{
    float: right;
    width: 520px;
    margin-right:20px ;
    margin-top: 50px;
}

.lm>a{
    font-size: 20px;
    font-family: "华文楷体";
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

#ba{
    height: 50px;
}

.aba{
    margin-top: 20px;
    margin-left: 30px;
}

.aba>a{
    font-family: "宋体";
    font-weight: bold;
    margin-right: 80px;
}

.bba{
    margin-top: 5px;
    margin-left: 30px;
}

.bba>a{
    font-family: "宋体";
    font-weight: bold;
    margin-right: 80px;
}

#zw{
    margin-top: 20px;
    height: 340px;
}

#zw>a{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 500px;
    float: left;
    font-size: 30px;
    font-family: "华文行楷";
}

#gg{
    margin-top: 20px;
}

#gg>h1{
    font-size: 30px;
    font-family: "华文行楷";
    text-align: center;
}

.oc{
    margin-left: 20px;
    margin-top: 10px;
}

.oc>a{
    font-size: 20px;
    font-family: "华文楷体";
    font-weight: bold;
}

#bq{
    width: 900px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#bq>h2{
    font-size: 10px;
    font-family: "宋体";
    text-align: center;
}

#bq>h3{
    font-size: 6px;
    font-family: "宋体";
    text-align: center;
}