#ba{
    height: 50px;
}

.aba{
    margin-top: 20px;
    margin-left: 30px;
}

.aba>a{
    font-weight: bold;
    margin-right: 80px;
}

.bba{
    margin-top: 5px;
    margin-left: 30px;
}

.bba>a{
    font-weight: bold;
    margin-right: 80px;
}

#zw{
    margin-top: 20px;
    height: 410px;
}

#zw>a{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 500px;
    float: left;
    font-size: 30px;
}

#gg{
    margin-top: 20px;
}

#gg>h1{
    font-size: 30px;
    text-align: center;
}

.oc{
    margin-left: 20px;
    margin-top: 10px;
}

.oc>a{
    font-size: 20px;
    font-weight: bold;
}
